#archive {
    overflow-y: scroll;
} /*TODO nie dziala*/

    #archive .archiveItem {
        color: black;
        display: block;
        padding: 10px;
        text-decoration: none;
    }

        #archive .archiveItem:hover {
            background-color: #ccc;
        }

        #archive .archiveItem label {
            font-size: 16px;
            font-weight: bold;
        }
        #archive .archiveItem p {
            font-size: 13px;
        }
