table {
    border: 0;
}

    table td {
        border-left: 5px;
        border-left-color: white;
        border-left-style: solid;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

#groups button {
    background-color: #eee;
    color: black;
    padding: 12px;
    width: 150px;
    display:grid;
    text-decoration: none;
    border-width: 0;
}

    #groups button:hover {
        background-color: #ccc;
    }

    #groups button.activeGroup {
        background-color: #3b424c;
        color: white;
    }

#groupDetails {
    padding: 10px;
}

    #groupDetails label {
        vertical-align: central;
        margin: 5px;
        display: inline-block;
        width: 50%;
        overflow: hidden;
        /*text-align: right;*/
    }

    #groupDetails input {
        vertical-align: central;
        margin: 5px;
        width: 200px;
    }

    #groupDetails label:after {
        /*float: right;*/
    }

#groupTasks {
    min-height: 350px;
    border: 5px;
    border-style: solid;
    border-color: white;
}

    #groupTasks label {
        font-weight: bold;
    }

    #groupTasks .groupTaskItem {
        padding: 5px;
        /*border:0;*/
    }

        #groupTasks .groupTaskItem:hover {
            background-color: #ccc;
        }

    #groupTasks .taskInGroup{
        background-color:cadetblue;
    }
    #groupTasks .taskInGroup:hover {
        background-color: darkcyan;
    }
