#home {
    width: 600px;
    height: 620px;
    overflow-y: scroll;
}

    #home .homeItem {
        min-height: 80px;
        color: black;
        display: block;
        padding: 15px 20px 10px 20px;
        text-decoration: none;
    }

        #home .homeItem:hover {
            background-color: #ccc;
        }

        #home .homeItem label {
            margin-left: 10px;
            font-size: 16px;
            font-weight: bold;
        }

        #home .homeItem p {
            font-size: 13px;
        }

#load {
    font-size: 16px;
    background-color: slategrey;
    color: white;
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
    box-shadow: 0 5px 0 #a6a6a6;
}

    #load:hover {
        background-color: #3b424c;
    }

    #load:active {
        transform: translateY(4px);
    }
