@{
    ViewBag.Title = "ArchivePage";
}
<button type="button" data-activities="@ViewBag.JsonActivities" data-userId="@ViewBag.UserId" id="applyButton">Apply</button>
<div id="archive">
    <div class="archiveItem">
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Pages/archivePage.js")
    @Styles.Render("~/Content/Pages/ArchivePage.css")
}
