@{
    ViewBag.Title = "Archive";
}
<div id="home"></div>
<button id="load">Load more</button>
<div data-activities="@ViewBag.JsonActivities" data-userId="@ViewBag.UserId" id="config"></div>

@section scripts{
    @Scripts.Render("~/Scripts/Pages/archivePage.js")
    @Styles.Render("~/Content/Pages/HomePage.css")
}
