@{
    ViewBag.Title = "Home";
}
<div id="home"></div>
<div data-userId="@ViewBag.UserId" id="config"></div>

@section scripts{
    @Scripts.Render("~/Scripts/Pages/homePage.js")
    @Styles.Render("~/Content/Pages/HomePage.css")
}
