@{
    ViewBag.Title = "Home";
}
<div id="home"></div>
<button type="button" data-activities="@ViewBag.JsonActivities" data-userId="@ViewBag.UserId" id="applyButton">Apply</button>

@section scripts{
    @Scripts.Render("~/Scripts/Pages/homePage.js")
    @Styles.Render("~/Content/Pages/HomePage.css")
}
