@{
    ViewBag.Title = "HomePage";
}
@using (Html.BeginForm())
{
    foreach (var activity in ViewBag.Activities)
    {
        <div>
            <label data-activity =><input type="checkbox" checked="@activity.IsDone">@activity.Task.Name</label>
        </div>
    }
    <button type="button" id="applyButton">Apply</button>
}

@section scripts{
@Scripts.Render("/Scripts/Pages/homePage.js")
}
