@{
    ViewBag.Title = "Home";
}
<button type="button" data-activities="@ViewBag.JsonActivities" data-userId="@ViewBag.UserId" id="applyButton">Apply</button>
<div id="home">
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Pages/homePage.js")
    @Styles.Render("~/Content/Pages/HomePage.css")
}
