@{
    ViewBag.Title = "TasksPage";
}
<div data-config="@ViewBag.JsonConfig" data-userId="@ViewBag.UserId" id="dataDiv" />

<table>
    <tr>
        <td>
            <div id="tasks">
                <button id="newTask" class="taskButton">New Task</button>
            </div>
        </td>
        <td>
            <div id="taskDetails">
                <label>Name</label> <input id="taskName" name="taskName" type="text" />
                <label>Description</label> <input id="taskDescription" name="taskDescription" type="text"/>
                <label>Sart date</label> <input id="taskStartDate" name="taskStartDate" type="datetime-local" />
                <label>Frequency</label> <input id="taskFrequency" name="taskFrequency" type="number"/>

                <label><strong>Groups</strong> <input id="assignToGroup" name="assignToGroup" type="button" value="Assign to group" /></label>
                <div id="taskGroups"></div>

                <input id="applyTask" type="button" value="Apply" />
                <input id="resetTask" type="button" value="Reset changes" />
                <input id="deleteTask" type="button" value="Detele task" />
            </div>
        </td>
    </tr>
</table>
@section scripts{
    @Scripts.Render("~/Scripts/Pages/tasksPage.js")
    @Styles.Render("~/Content/Pages/TasksPage.css")
}
